---
title: Rowenta
---
{% extends "layouts/_layout.html" %}

{% block content %}

    <!-- BEGIN - HEADER -->
	{% include "partials/_header.html" %}
	<!-- END - HEADER -->
	
	<!--BEGIN - START PAGE -->
	{% include "partials/_start-page.html" %}
	<!-- END - START PAGE -->
	
	<!--BEGIN - LEARN MORE -->
	{% include "partials/_learn-more.html" %}
	<!-- END - LEARN MORE -->
	
	<!--BEGIN - UPLOAD -->
	{% include "partials/_upload.html" %}
	<!-- END - UPLOAD -->
	
	<!--BEGIN -SHARE -->
	{% include "partials/_share.html" %}
	<!-- END - SHARE -->
	
	<!--BEGIN - VOTE -->
	{% include "partials/_vote.html" %}
	<!-- END - VOTE -->
	
	<!--BEGIN - PROMO -->
	{% include "partials/_promo.html" %}
	<!-- END - PROMO -->
	
	<!--BEGIN - FEATURES -->
	{% include "partials/_features.html" %}
	<!-- END - FEATURES -->
	

{% endblock %}
