{% from "data/data.html" import components, featuresleft, featuresright %}
<a href="" name="features-straight"></a>
<section class="features">
    <div class="title features__title">
        <span class="title_low">модель</span>
        ROWENTA BRUSH & STRAIGHT SF7510
    </div>
    
    <div class="features__img" style="background-image: url(img/straight-features.png)">
       
        {% for component in components %}
        <div class="pointer pointer_{{component.name}}">
            <div class="pointer__inner">
                <div class="pointer__txt pointer__txt_{{component.mod}} {% if component.extramod %}pointer__txt_{{component.extramod}}{% endif %}">{{component.text}}
                
                {% if component.double %}
                <div class="pointer__arr"></div>
                {% endif %}
                
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="features__inner">
        {{mixins.btn('features', 'Детальні характеристики', 'js-btn-dropdown')}}
        <div class="features__icon">
            {{mixins.icon('arrow-down-rounded')}}
        </div>
        
        <div class="features__list">
            <ul class="features__col features__col_l">
            {% for feature in featuresleft %}
            <li class="features__item">
                <span class="features__name">
                    <span>{{feature.name}}</span>
                </span>
                <span class="features__desc">
                   <span>{{feature.desc}}{% if not feature.desc %}
                    {{mixins.icon('check')}}
                    {% endif %}</span>
                </span>
            </li>
            {% endfor %}
            </ul>
           
            <ul class="features__col features__col_r">
            {% for feature in featuresright %}
            <li class="features__item">
                <span class="features__name">
                    <span>{{feature.name}}</span>
                </span>
                <span class="features__desc">
                   <span>{{feature.desc}}{% if not feature.desc %}
                    {{mixins.icon('check')}}
                    {% endif %}</span>
                </span>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
</section>