<header class="header">
    <div class="container">
       <div class="header__inner">
            <!--BEGIN LOGO-->
            <a class="logo">
                {{mixins.logo('header')}}
                <span class="logo__msg">
                    <span class="icon-heart-small"></span> 
                    <span class="logo__txt">Premium care</h3>
                </span>
            </a>
            <!--END LOGO-->
            <!--BEGIN MENU-->
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="" class="menu__link">Конкурс</a>
                    </li>
                    <li class="menu__item"> 
                        <a href="" class="menu__link">Про лінійку Premium Care</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Переможці</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Правила акції</a>
                    </li>
                </ul>
            </nav>
            <!--END MENU-->
        </div>
    </div>
</header>