<section class="learn-more">
    <div class="container learn-more__container">
        <div class="col">
            {{mixins.img('learn-more', 'taylor.jpg')}}
        </div>
        <div class="col">
           <div class="learn-more__inner">
                <h2 class="title learn-more__title">дiзнайся про себе бiльше</h2>
                <div class="learn-more__text">
                    <p>Створи і опублікуй на своїй сторінці в Facebook або VK пост і візьми участь у розіграші призів Rowenta Premium Care</p>
                </div>
                {{mixins.btn('learn-more', 'Створити пост')}}
            </div>
        </div>
    </div>
</section>