<section class="promo">
    <div class="promo__img_main" style="background-image: url(img/person-promo.png)"></div>
    <div class="container">
    <q class="promo__quote">Я хочу щоб волосся мало ідеальний та природній вигляд</q>
    <ul class="promo__list">
       <li class="promo__item">
            <div class="promo__name promo__name_mod">природна краса</div>
            <div class="promo__desc">
                <p>Натуральна щетина дозволяє розподіляти волосся по пластині для випрямлення одним рухом, надаючи природный об'єм та гладкість.</p>
            </div>
        </li>
        <li class="promo__item">
            <div class="promo__name">досконала перевага</div>
            <div class="promo__desc">
               {{mixins.imgdiff('promo', 'brush-sm.jpg', 'sm', 'brush-sm-hover.jpg')}}
            </div>
        </li>
        <li class="promo__item">
            <div class="promo__name">яскравий шик</div>
            <div class="promo__desc">
                {{mixins.imgdiff('promo', 'brush-lg.jpg', 'lg')}}
            </div>
        </li>
    </ul>
    </div>
</section>