<section class="share">
    <div class="container">
        <div class="share__img" style="background-image: url(img/compare-pink.jpg)"></div>
        <div class="share__txt">
            <p>Поділіться створеним постом у мережі Фейсбук або Вконтакті та отримайте можливість виграти приз</p>
        </div>
        <div class="share__inner">
            <div class="col">{{mixins.btnlg('share', 'facebook', 'Поділитися', 'Створити пост')}}</div>
            <div class="col">{{mixins.btnlg('share', 'vk', 'Поділитися', 'Створити пост')}}</div>
        </div>
        <p class="share__info">
            Публікуючи цей пост я погоджуюся з <a href="#" class="share__link">Правилами акції</a>
        </p>
    </div>
</section>