<section class="upload">
   <div class="container upload__container">
        <h2 class="title">Завантажте вашi фотографiї</h2>
        <div class="upload__txt">
            <p>Наприклад, не використовуйте фото знайдені на сайті або в мережі.</p>
        </div>
        <div class="upload__inner">
            <div class="col">
               {{mixins.img('upload', 'curly-hair.jpg', 'завитим', true)}}
            </div>
            <div class="col">
                {{mixins.img('upload', 'straight-hair.jpg', 'вирівняним', true)}}
            </div>
        </div>
    </div>
</section>