<section class="video">
    <div class="video__player js-video-player">
        <div class="video__main">
           <img src="" alt="" class="video__poster_main">
           <div class="video__icon_play"></div>
           
           <iframe class="video__iframe" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video__aside">
           <div class="video-slider js-video-slider">
                <img src="//img.youtube.com/vi/ZS1ptjR3zhA/maxresdefault.jpg" class="video__poster">
                <img src="//img.youtube.com/vi/RSVy4nITc-U/maxresdefault.jpg" class="video__poster">
                <img src="//img.youtube.com/vi/a0bUfAk4u5I/maxresdefault.jpg" class="video__poster">
                <img src="//img.youtube.com/vi/sO-Eng6oxKg/maxresdefault.jpg" class="video__poster">
           </div>
           <div class="video-slider__control video-slider__control_t">
                <span class="icon-arrow-up-pink"></span>
           </div>
           <div class="video-slider__control video-slider__control_b">
                <span class="icon-arrow-down-pink"></span>
           </div>
        </div>
    </div>
</section>