<section class="winners">
    <h2 class="title">Переможцi цього тижня</h2>
    <div class="winners__container">
        <div class="col">
            <div class="winners__inner">
                <span class="winners__name">Лоррі Лейн</span>
                <div class="winners__bl">
                    {{mixins.imgdiff('winners', 'straight-hair-share.png', 'l')}}
                    
                    <p class="winners__txt">Вам більше пасує вирівняне волосся. Вам буде у нагоді</p>
                    
                    {{mixins.prize('winners', 'l', 'straight.png', 'випрямляч', 'BRUSH & STRAIGHT SF7510')}}
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="winners__inner">
                <span class="winners__name">Ренні Робертс</span>
                <div class="winners__bl">
                    {{mixins.imgdiff('winners', 'curly-hair-share.png', 'r')}}
                    
                    <p class="winners__txt">Вам більше пасує завите волосся. Вам буде у нагоді</p>
                    
                    {{mixins.prize('winners', 'r', 'brush.png', 'фен-щiтка', 'Premium Care CF7830')}}
                </div>
            </div>
        </div>
    </div>
</section>