{% set 
stages = ['Завантажте свої фотографії', 'Поділіться ними у соціальній мережі', 'Зберіть голоси та вигравайте призи'] 
%}


{% set 
prizes = [
    {
       number: 'x10',
       name: 'випрямляч', 
       img: 'straight.png',
       imgType: 'top'
    },
    {
       number: 'x20',
       name: 'фен-щітка', 
       img: 'brush.png'
    },
    {
       number: 'x30',
       name: 'фен', 
       img: 'dryer.png',
       imgType: 'btm'
    }   
] 
%}

{% set 
slides = [
    {
       img: 'person-l.jpg',
       mod: 'left'
    },
    {
       img: 'person-r.jpg',
       mod: 'right'
    }
] 
%}


{% set 
components = [
    {
       name: 'plate',
       text: 'плаваюча пластина',
       mod: 'top',
       extramod: 'short'
    },
    {
       name: 'lcd',
       text: 'lcd дiсплей',
       mod: 'top'
    },
    {
       name: 'block',
       text: 'система блокування',
       mod: 'top'
    },
    {
       name: 'gen',
       text: 'іонний генератор',
       mod: 'btm'
    },
    {
       name: 'brush',
       text: 'інтегрована природна щітка',
       mod: 'left'
    },
    {
       name: 'heat',
       text: 'нагрівальні елементи',
       mod: 'btm',
       extramod: 'double',
       double: true
    }
] 
%}


{% set 
featuresleft = [
    {
       name: 'Покриття пластин',
       desc: 'Cashmere Keratin'
    },
    {
       name: 'Функції',
       desc: 'Природно прямі'
    },
    {
       name: 'Розмір пластин',
       desc: '25x90 мм'
    },
    {
       name: 'Плавающие пластины'
    },
    {
       name: 'Время нагрева',
       desc: 'Природно прямі'
    },
    {
       name: 'Щадний режим з температурою 170 ° С'
    }
] 
%}


{% set 
featuresright = [
    {
       name: 'Дисплей',
       desc: 'LCD дисплей'
    },
    {
       name: 'Час нагрівання',
       desc: '15 с'
    },
    {
       name: 'Безпека',
       desc: 'Система блокування'
    },
    {
       name: 'Автовідключення'
    },
    {
       name: 'Тип нагрівального елементу',
       desc: 'Алюмінієвий'
    },
    {
       name: 'Довжина шнура електроживлення',
       desc: '2 м'
    }
] 
%}