{% set 
stages = ['Завантажте свої фотографії', 'Поділіться ними у соціальній мережі', 'Зберіть голоси та вигравайте призи'] 
%}


{% set 
prizes = [
    {
       number: 'x10',
       name: 'випрямляч', 
       img: 'straight.png',
       imgType: 'top'
    },
    {
       number: 'x20',
       name: 'фен-щітка', 
       img: 'brush.png'
    },
    {
       number: 'x30',
       name: 'фен', 
       img: 'dryer.png',
       imgType: 'btm'
    }   
] 
%}

{% set 
slides = [
    {
       img: 'person-l.jpg',
       mod: 'left'
    },
    {
       img: 'person-r.jpg',
       mod: 'right'
    }
] 
%}