.icon-arrow-down-rounded {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-arrow-l-slim {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-arrow-r-slim {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: #121313;
}
