.video
    width: 100%
    height: 90vh
    &__player
        width: 100%
        height: 100%
        +clr
    &__main
        width: calc(100% - 25vw)
        height: 100%
        float: left
        position: relative
        +cover
    &__aside
        width: 25vw
        height: 100%
        float: right
        position: relative
    &__poster
        min-height: 30vh
    &__poster_main
        position: absolute
        width: 100%
        height: 100%
    &__icon_play
        width: 90px
        height: 90px
        cursor: pointer
        opacity: 0.6
        +vcenter
        +s(play)
        &:hover
            opacity: 1